<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../CSS/main.css">
    </head>
    <body>
		<header>
			<div class="container">
				<h1 class="threep"><img class="box" src="../Img/600.png"><span>EYE cheatrace</span></h1>
				<div class="threep"> </div>
				<div class="menu threep">
						<div class="item">
							<a href="info.html" target = "_self">소개</a>
						</div>
						
						<div class="item">
							<a href="Docs.html" target = "_self">사용법</a>
						</div>
						
						<div class="item">
							<a href="info" target = "_self">다운</a>
						</div>
				</div>
			</div>
		</header>
		<main>
			<p>아이트래킹<br>시험장<br>사용하기</p>
			<!-- 여기에 이제 제목-->
			<div class="btn_gruop">
					<a href="http://localhost:3000"><button class="btnitem" onClick="location.href='http://localhost:3000'">아이트래킹 시험장 시작하기</button></a>
			</div>
			<!-- 여기에 이제 버튼 2개-->
			<div></div>
		</main>
    </body>
</html>